.poll-panel-menu-bar {
  position: relative;
  z-index: 1;
  border: 3px solid red;
  height: auto;
  padding-bottom: 0;
  overflow: visible;
}

.poll-panel-menu-bar-menu, .poll-panel-menu-bar-menu > li {
  float: left;
}

.poll-panel-menu-bar-item, .poll-search {
  border: 1px solid black;
}

.poll-search-submit {
  padding: 0 10px;
  border-left: 1px solid black;
}

.poll-panel-menu-bar .nav-link {
  margin: 0 10px;
  line-height: 30px;
  font-size: 12px;
}

.nav-dropdown {
  position: relative;
}

.nav-dropdown-menu {
  display: none;
  position: absolute;
  left: -1px;
  font-size: 14px;
  white-space: nowrap;
  background: #fff;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  overflow: hidden;
}

.nav-dropdown:hover .nav-dropdown-menu {
  display: block;
}

.nav-dropdown-item {
  display: block;
  float: left;
  border-bottom: 1px solid #ccc;
  padding: 0;
  width: 100%;
}

.main-navbar li:hover {
  background: #999;
}

.poll-search {
  float: right;
}
