<h1>Sign into TrollEverywhere!</h1>

<% form_options = {
     user: @user,
     action_path: session_url,
     http_method: "POST",
     button_text: "Sign In!"
} %>

<%= render "users/form", form_options: form_options %>
