/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_reset
 *= require_tree .
 *= require_self
 */


 html, body, section, article,
 h1, h2, p, strong, em, a, ul, menu {
   margin: 0;
   border: 0;
   padding: 0;
   outline: 0;
   box-sizing: inherit;
   font: inherit;
   text-decoration: inherit;
   text-align: inherit;
   color: inherit;
   background: transparent;
 }

 .group:after {
  content: "";
  display: block;
  clear: both;
}

.troll {
  background-image: url("http://media.bizzmarkblog.com/2015/03/troll.jpg");
  background-size: cover;
  display: inline-block;
  width: 500px;
  height: 300px;
  position: fixed;
  bottom: 0;
  right: 0;
}

.construction {
  text-align: center;
  font-size: 72px;
  font-family: fantasy;
  font-weight: bold;
  position: fixed;
  top: 50%;
  transform: translateY(-50%);
  left: 50%;
  transform: translateX(-50%);
  z-index: 1
}

.troll {
  animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}

@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}

.main-navbar {
  position: relative;
  z-index: 1;
  border: 3px solid red;
  height: auto;
  padding-bottom: 0;
  overflow: visible;
  line-height: 40px;
}

.main-navbar-left-menu {
  float: left;
}

.main-navbar-right-menu {
  float: right;
}

.nav-item {
  border: 1px solid black;
  padding: 10px;
}

.nav-dropdown {
  position: relative;
}

.nav-dropdown-menu {
  display: none;
  position: absolute;
  left: -1px;
  font-size: 14px;
  white-space: nowrap;
  background: #fff;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  overflow: hidden;
}

.nav-dropdown:hover .nav-dropdown-menu {
  display: block;
}

.nav-dropdown-item {
  display: block;
  float: left;
  border-bottom: 1px solid #ccc;
  padding: 10px;
  width: 100%;
}

.main-navbar menuitem:hover {
  background: #999;
}
