.main-navbar {
  position: relative;
  z-index: 1;
  border: 3px solid red;
  height: auto;
  padding-bottom: 0;
  overflow: visible;
}

.main-navbar-left-menu, .main-navbar-left-menu > li, .main-navbar-right-menu > li  {
  float: left;
}

.main-navbar-right-menu  {
  float: right;
}

.nav-item {
  border: 1px solid black;
}

.nav-link {
  margin: 0 10px;
  line-height: 30px;
}

.nav-dropdown {
  position: relative;
}

.nav-dropdown-menu {
  display: none;
  position: absolute;
  left: -1px;
  font-size: 14px;
  white-space: nowrap;
  background: #fff;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  overflow: hidden;
}

.nav-dropdown:hover .nav-dropdown-menu {
  display: block;
}

.nav-dropdown-item {
  display: block;
  float: left;
  border-bottom: 1px solid #ccc;
  padding: 0;
  width: 100%;
}

.main-navbar li:hover {
  background: #999;
}
